carla==0.9.15
catkin-pkg==1.1.0
contourpy==1.3.2
cycler==0.12.1
docutils==0.22.3
empy==3.3.4
fonttools==4.60.1
kiwisolver==1.4.9
lark==1.3.1
lxml==6.0.2
matplotlib==3.10.7
numpy==2.2.6
packaging==25.0
pandas==2.3.3
pillow==12.0.0
pygame==2.6.1
pyparsing==3.2.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.17.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
